
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.buynowpromo {
  margin-top: 17px;
}

body {
  overflow-x: hidden;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.side-thing {
  position: absolute;
  right: 20px;
  top: 300px;
}

@media only screen and (max-width: 767px) {
  .side-thing {
    left: 100px;
    right: 100px;
    top: 1630px;
  }

}

