.shopping-cart-heading {
    margin-top: 30px;
    text-align: center; 
    height: 100px;   
}

.shopping-cart-pos{
    display: flex;
    border-top: 1px solid rgb(143, 143, 143);
    border-bottom: 1px solid rgb(143, 143, 143);    
}

.shopping-cart-pos-img-box {
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 200px;
    min-height: 200px; 
    max-width: 300px;      
}

.shopping-cart-pos-img{
   object-fit: contain;
   max-width: 100%;
   height: auto;  
   margin-top: 5px;
   margin-bottom: 5px;
}

.shopping-cart-pos-description{
    height: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;    
}

.shopping-cart-pos-price{
   text-align: right; 
   font-weight: bold;     
}


.legend{
   text-align: right;
}

.product-name{
    font-weight: bold;
}

.card-body{
   position: relative; 
}

.nav{
    position: absolute;
    left: 17px;
    bottom: 0;
}

.proceed-to-checkout{
    text-align: center;
    justify-content: center;
    
}

.shopping-cart-sum{
    font-weight: bold; 
    text-align: right;    
}

.prices {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.discounted-price {
    color: #d9534f;
    
}



